*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    text-align: center;
    font-size: 25px;
    background-color: yellow;
}


.titulo{
    font-size: 25px;
    color: rgb(40, 122, 60);
    font-family: monospace;
    text-align: center;
}

.imagem{
    display: block;
    margin: auto;
}